html {
	font-size: 50px;
}

[v-cloak]{
	display: none;
}

#app {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.app-panel{
	height: 100vh;
	display: flex !important;
	display: -webkit-flex !important;
	justify-content: flex-start;
	flex-direction: column;
	border: none;
	border-radius: 0;
}

@media only screen and (min-width:640px)  {
	.app-panel{
		height: 70vh;
		margin-top: 15vh;
		border-radius: 0.08rem;
		box-shadow: 0 0 0.6rem rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 0.6rem rgba(0,0,0,.2);
	}
}

.app-panel-title{
	border-bottom-color: #93D0EF !important;
}

.app-panel-content {
	overflow: hidden;
	flex: 1;
	padding: 0 !important;
}

.app-panel-body{
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding: .2rem;
}

.mvi-editor-image{
	display: block !important;
	width: 4rem !important;
	height: 4rem !important;
	object-fit: cover !important;
}

.mvi-editor-video{
	display: block !important;
	width: 4rem !important;
	height: 4rem !important;
	object-fit: cover !important;
}

.app-emoji-show{
	display: inline-flex;
	width: .48rem;
	height: .48rem;
	vertical-align: middle;
}

::-webkit-scrollbar {
	width: 0.12rem;
	height: 0.12rem;
}

::-webkit-scrollbar-track {
	background: #F7F8FA;
	border-radius: 0.08rem;
}

::-webkit-scrollbar-thumb {
	background: #EBEDF0;
	border-radius: 0.08rem;
}

.app-unread-tips{
	position: absolute;
	right:0.2rem;
	bottom: .4rem;
	z-index: 100;
	display: block;
	padding: .16rem .2rem;
	text-align: center;
	line-height: 1;
	cursor: pointer;
}

.app-unread-tri{
	position: absolute !important;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.scaleY-enter-active,.scaleY-leave-active{
	transform-origin: center bottom;
}

.scaleY-enter,.scaleY-leave-to,.scaleY2-enter,.scaleY2-leave-to{
	opacity: 0;
	transform:scaleY(0);
}

.scaleY2-enter-active,.scaleY2-leave-active{
	transform-origin: center top;
}

.app-emoji-list{
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	width: 100%;
	padding: .2rem;
}

.app-emoji{
	display: block;
	width: calc(100% / 8);
	padding: .1rem;
}

.app-emoji:hover{
	background-color: #EBEDF0;
	border-radius: .08rem;
	cursor: pointer;
}

.app-emoji-el{
	display: block !important;
	width: 100%;
	height: 100%;
}

#online{
	position: relative;
}

.app-online{
	max-height: 4rem;
	display: block;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.app-online-el{
	display: block;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .1rem .2rem;
}

.app-online-el:hover{
	cursor: pointer;
	background-color: #EBEDF0;
}

.app-online-title{
	display: block;
	margin-bottom: .1rem;
	padding: .1rem .2rem;
	border-bottom: 1px solid #EBEDF0;
}